.container {
    margin: auto;
    background-color: lightgray;
    width: 400px;
    height: 600px;
}

#display {
    margin: auto;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    width: 90%;
    height: 100px;
}

.row {
    margin: auto;
}

.basic {
    margin: auto;
    width: 64px;
    height: 48px;
}

.advanced {
    margin: auto;
    width: 64px;
    height: 32px;
    margin-bottom: 15px;
}

.keyboard {
    padding: 30px;
}