.container {
    margin: auto;
    background-color: lightgray;
    width: 400px;
    height: 600px;
}

#display {
    margin: auto;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    width: 90%;
    height: 100px;
    font-size: 16px;
    /*72 is 10
    @60px is 12 digits
    48 is 15
    40 is 18
    32 is 22
    24 is 30
    normal (16) is 45
    */
}

.row {
    margin: auto;
}

.basic {
    margin: auto;
    width: 64px;
    height: 48px;
}

.advanced {
    margin: auto;
    width: 64px;
    height: 32px;
}

.keyboard {
    padding: 30px;
}