.container {
    margin: auto;
    background-color: lightgray;
    width: 400px;
    height: 700px;
}

#display {
    margin: auto;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    width: 90%;
    height: 100px;
}

.row {
    margin: auto;
}

button {
    margin: auto;
    width: 80px;
    height: 80px;
}